In [12]:
import pandas as pd
df=pd.read_csv("airlines.csv")

In [13]:
print(df)

     AirportCode                                        AirportName  TimeYear  \
0            ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...      2003
1            BOS                    Boston, MA: Logan International      2003
2            BWI  Baltimore, MD: Baltimore/Washington Internatio...      2003
3            CLT     Charlotte, NC: Charlotte Douglas International      2003
4            DCA  Washington, DC: Ronald Reagan Washington National      2003
...          ...                                                ...       ...
4329         ORD          Chicago, IL: Chicago O'Hare International      2015
4330         ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...      2003
4331         ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...      2003
4332         ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...      2003
4333         ATL  Atlanta, GA: Hartsfield-Jackson Atlanta Intern...      2003

      StatisticsFlightsCancelled
0                            216
1                            138
2                             29
3                             73
4                             74
...                          ...
4329                         875
4330                         216
4331                         216
4332                         216
4333                         216

[4334 rows x 4 columns]

In [14]:
df=pd.DataFrame(df)

In [18]:
name=df["AirportName"].unique()

In [19]:
name

array(['Atlanta, GA: Hartsfield-Jackson Atlanta International',
       'Boston, MA: Logan International',
       'Baltimore, MD: Baltimore/Washington International Thurgood Marshall',
       'Charlotte, NC: Charlotte Douglas International',
       'Washington, DC: Ronald Reagan Washington National',
       'Denver, CO: Denver International',
       'Dallas/Fort Worth, TX: Dallas/Fort Worth International',
       'Detroit, MI: Detroit Metro Wayne County',
       'Newark, NJ: Newark Liberty International',
       'Fort Lauderdale, FL: Fort Lauderdale-Hollywood International',
       'Washington, DC: Washington Dulles International',
       'Houston, TX: George Bush Intercontinental/Houston',
       'New York, NY: John F. Kennedy International',
       'Las Vegas, NV: McCarran International',
       'Los Angeles, CA: Los Angeles International',
       'New York, NY: LaGuardia', 'Orlando, FL: Orlando International',
       'Chicago, IL: Chicago Midway International',
       'Miami, FL: Miami International',
       'Minneapolis, MN: Minneapolis-St Paul International',
       "Chicago, IL: Chicago O'Hare International",
       'Portland, OR: Portland International',
       'Philadelphia, PA: Philadelphia International',
       'Phoenix, AZ: Phoenix Sky Harbor International',
       'San Diego, CA: San Diego International',
       'Seattle, WA: Seattle/Tacoma International',
       'San Francisco, CA: San Francisco International',
       'Salt Lake City, UT: Salt Lake City International',
       'Tampa, FL: Tampa International'], dtype=object)

In [74]:
name=pd.DataFrame(name)

In [90]:
df[df["AirportName"].str.contains("Phoenix, AZ: Phoenix Sky Harbor International")]

,AirportCode,AirportName,TimeYear,StatisticsFlightsCancelled
23,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2003,57
52,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2003,96
81,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2003,117
110,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2003,146
139,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2003,187
...,...,...,...,...
3851,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2014,147
3880,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2014,178
3909,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2014,104
3938,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2014,100
3967,PHX,"Phoenix, AZ: Phoenix Sky Harbor International",2014,78

In [187]:
a=len(df[df["AirportName"].str.contains("Atlanta, GA: Hartsfield-Jackson Atlanta International")])
a

154

In [107]:
name[0]

0     Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
1                       Boston, MA: Logan International
2     Baltimore, MD: Baltimore/Washington Internatio...
3        Charlotte, NC: Charlotte Douglas International
4     Washington, DC: Ronald Reagan Washington National
5                      Denver, CO: Denver International
6     Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...
7               Detroit, MI: Detroit Metro Wayne County
8              Newark, NJ: Newark Liberty International
9     Fort Lauderdale, FL: Fort Lauderdale-Hollywood...
10      Washington, DC: Washington Dulles International
11    Houston, TX: George Bush Intercontinental/Houston
12          New York, NY: John F. Kennedy International
13                Las Vegas, NV: McCarran International
14           Los Angeles, CA: Los Angeles International
15                              New York, NY: LaGuardia
16                   Orlando, FL: Orlando International
17            Chicago, IL: Chicago Midway International
18                       Miami, FL: Miami International
19    Minneapolis, MN: Minneapolis-St Paul Internati...
20            Chicago, IL: Chicago O'Hare International
21                 Portland, OR: Portland International
22         Philadelphia, PA: Philadelphia International
23        Phoenix, AZ: Phoenix Sky Harbor International
24               San Diego, CA: San Diego International
25            Seattle, WA: Seattle/Tacoma International
26       San Francisco, CA: San Francisco International
27     Salt Lake City, UT: Salt Lake City International
28                       Tampa, FL: Tampa International
Name: 0, dtype: object

In [214]:
airport=[]
count= []
for i in name[0]:
    count+=[len(df[df["AirportName"].str.contains(i)])]
    airport+=[[i,len(df[df["AirportName"].str.contains(i)])]]
    print(i,":",len(df[df["AirportName"].str.contains(i)]))

Atlanta, GA: Hartsfield-Jackson Atlanta International : 154
Boston, MA: Logan International : 150
Baltimore, MD: Baltimore/Washington International Thurgood Marshall : 150
Charlotte, NC: Charlotte Douglas International : 150
Washington, DC: Ronald Reagan Washington National : 150
Denver, CO: Denver International : 150
Dallas/Fort Worth, TX: Dallas/Fort Worth International : 150
Detroit, MI: Detroit Metro Wayne County : 150
Newark, NJ: Newark Liberty International : 150
Fort Lauderdale, FL: Fort Lauderdale-Hollywood International : 150
Washington, DC: Washington Dulles International : 150
Houston, TX: George Bush Intercontinental/Houston : 150
New York, NY: John F. Kennedy International : 150
Las Vegas, NV: McCarran International : 150
Los Angeles, CA: Los Angeles International : 150
New York, NY: LaGuardia : 150
Orlando, FL: Orlando International : 150
Chicago, IL: Chicago Midway International : 150
Miami, FL: Miami International : 150
Minneapolis, MN: Minneapolis-St Paul International : 150
Chicago, IL: Chicago O'Hare International : 150
Portland, OR: Portland International : 149
Philadelphia, PA: Philadelphia International : 149
Phoenix, AZ: Phoenix Sky Harbor International : 137
San Diego, CA: San Diego International : 149
Seattle, WA: Seattle/Tacoma International : 149
San Francisco, CA: San Francisco International : 149
Salt Lake City, UT: Salt Lake City International : 149
Tampa, FL: Tampa International : 149

In [215]:
count.sort()

In [216]:
count

[137,
 149,
 149,
 149,
 149,
 149,
 149,
 149,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 150,
 154]

In [218]:
print("least count of airport is",airport[46],"with count",airport[47])
print("Maximum count of airport is",airport[0],"with count",airport[1])

IndexError: list index out of range

In [220]:
AD = pd.DataFrame(airport, 
                  columns=['Name', 'count'])

In [222]:
AD

                                                 Name  count
0   Atlanta, GA: Hartsfield-Jackson Atlanta Intern...    154
1                     Boston, MA: Logan International    150
2   Baltimore, MD: Baltimore/Washington Internatio...    150
3      Charlotte, NC: Charlotte Douglas International    150
4   Washington, DC: Ronald Reagan Washington National    150
5                    Denver, CO: Denver International    150
6   Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...    150
7             Detroit, MI: Detroit Metro Wayne County    150
8            Newark, NJ: Newark Liberty International    150
9   Fort Lauderdale, FL: Fort Lauderdale-Hollywood...    150
10    Washington, DC: Washington Dulles International    150
11  Houston, TX: George Bush Intercontinental/Houston    150
12        New York, NY: John F. Kennedy International    150
13              Las Vegas, NV: McCarran International    150
14         Los Angeles, CA: Los Angeles International    150
15                            New York, NY: LaGuardia    150
16                 Orlando, FL: Orlando International    150
17          Chicago, IL: Chicago Midway International    150
18                     Miami, FL: Miami International    150
19  Minneapolis, MN: Minneapolis-St Paul Internati...    150
20          Chicago, IL: Chicago O'Hare International    150
21               Portland, OR: Portland International    149
22       Philadelphia, PA: Philadelphia International    149
23      Phoenix, AZ: Phoenix Sky Harbor International    137
24             San Diego, CA: San Diego International    149
25          Seattle, WA: Seattle/Tacoma International    149
26     San Francisco, CA: San Francisco International    149
27   Salt Lake City, UT: Salt Lake City International    149
28                     Tampa, FL: Tampa International    149

In [226]:
AD["count"].max()

154

In [231]:
print(AD.max())

Name     Washington, DC: Washington Dulles International
count                                                154
dtype: object

In [232]:
print(AD.min())

Name     Atlanta, GA: Hartsfield-Jackson Atlanta Intern...
count                                                  137
dtype: object